/*Variables textes, couleur, taille body, etc..*/
*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: inherit;
}

// Typographie et différentes tailles de texte


// Créer mixin pour CTA


