/*Footer*/
.link-container {
  background-color: $footer-background;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $footer-color;
  padding: 22px 25px;
  img {
    width: 137px;
    height: 27px;
    margin-bottom: 16px;
    filter: invert(1);
  }
  .link {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 7px;
  }
  .footer-icon {
    font-size: 13px;
    margin-right: 11px;
  }
  .footer-weight {
    @include index($weight: 400);
  }
}
