/*Contenu global*/
$circle-primary-color: rgb(147, 86, 220);
$circle-secondary-color: rgb(255, 121, 218);

.circle {
  border: 10px solid rgba($circle-primary-color, 0.4);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*placement loader en milieu de page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &__loader::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border: 10px solid transparent;
    border-top-color: $circle-secondary-color;
    border-radius: 50%;
    animation: spin 1s linear 0s infinite;
  }
}

@keyframes spin{
    0%{ transform: rotate(0deg);
    }
    100%{ transform: rotate(360deg);
    }
  }