/*Contenu global index.html*/

.main-section {
  background-color: #f6f6f6;
  padding: 39px 26px 57px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & > .main-title {
    width: 275px;
    height: 68px;
  }
  & > p {
    padding-bottom: 27px;
    @include index ($size: 1.125rem, $weight: 300)
  }
}
