* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

.fa-location-dot {
  font-size: 16px;
}

.fa-mobile-screen-button {
  font-size: 19px;
  color: #7e7e7e;
}

.fa-list-ul {
  font-size: 16px;
  color: #7e7e7e;
}

.fa-store {
  font-size: 18px;
  color: #7e7e7e;
}

.fa-heart {
  font-size: 21px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

.fonctionnement__card--number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
}

.img-card {
  width: 100%;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-contain h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
}
.card-contain p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.063rem;
}

.fa-utensils {
  font-size: 13px;
  margin-right: 11px;
}

.fa-handshake-angle {
  font-size: 12px;
  margin-right: 7px;
}

.footer-weight {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.fa-arrow-left {
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 25px;
}

.fa-check {
  color: #99e2d0;
  background: white;
  font-size: 13px;
  border-radius: 50%;
  padding: 3px;
}

.main-img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  border-bottom: 3px solid #99e2d0;
  width: 10%;
  padding-bottom: 10px;
}
.menu-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
.menu-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.85rem;
}
.menu-container .menu__card--price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.92rem;
}

@media screen and (min-width: 768px) {
  .main-img {
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .main-img {
    height: 400px;
  }
}
.circle-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  animation: spin-container 3s linear forwards;
}
.circle-container .circle {
  border: 10px solid rgba(147, 86, 220, 0.4);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*placement loader en milieu de page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.circle-container .circle__loader::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  border: 10px solid transparent;
  border-top-color: #ff79da;
  border-radius: 50%;
  animation: spin 1s linear 3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-container {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  98% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  border: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  transition: all 500ms;
}
.cta:hover {
  opacity: 0.8;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
}

.cta-position {
  display: flex;
  justify-content: center;
}
.cta-position .order {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 186px;
  height: 50px;
  border: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  transition: all 500ms;
}

.order:hover {
  opacity: 0.8;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
}

.card-contain .fa-heart {
  position: absolute;
  right: 16px;
  top: 80%;
}

.full-heart {
  opacity: 0;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2s;
}
.full-heart:hover {
  opacity: 1;
  transition: all 2s;
}

.menu__card--check {
  background-color: #99e2d0;
  width: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease;
}
.menu__card:hover .menu__card--check {
  transition: all 1s ease;
  opacity: 1;
  width: 50px;
}
.menu__card:hover .menu__card--title {
  width: 70%;
}

@keyframes slideup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.delay-1 {
  animation: slideup 1s;
}

.delay-2 {
  animation: slideup 2s;
}

.delay-3 {
  animation: slideup 3s;
}

.delay-4 {
  animation: slideup 4s;
}

.delay-5 {
  animation: slideup 5s;
}

.delay-6 {
  animation: slideup 6s;
}

.delay-7 {
  animation: slideup 7s;
}

.delay-8 {
  animation: slideup 8s;
}

.delay-9 {
  animation: slideup 9s;
}

.delay-10 {
  animation: slideup 10s;
}

/*header index*/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.logo__OMF {
  width: 162px;
  height: 36px;
}

/*Localisation*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  gap: 17px;
}
.form-container input {
  background-color: transparent;
  border: none;
  width: 109px;
  height: 19px;
  color: #353535;
}
.form-container ::-moz-placeholder {
  color: #353535;
}
.form-container ::placeholder {
  color: #353535;
}

/*TABLETTE RESPONSIVE - OK*/
/*DESKTOP RESPONSIVE - OK*/
/*Contenu global index.html*/
/*Section principale*/
.main-section {
  background-color: #f6f6f6;
  padding: 39px 26px 57px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-section__title {
  height: 68px;
}
.main-section > p {
  padding-bottom: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.125rem;
}

.fonctionnement-and-restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
  align-items: center;
}
.fonctionnement-and-restaurants .title-one {
  margin-bottom: 26px;
  padding: 28px 0 0 20px;
}

/*Section fonctionnement*/
.fonctionnement-container {
  width: 100%;
}

.fonctionnement {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement a {
  width: 100%;
}
.fonctionnement a:hover i {
  color: #9356dc;
}
.fonctionnement__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 35px;
  border-radius: 20px;
  width: 100%;
  height: 72.4px;
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 27px;
}
.fonctionnement__card--number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
}

/*Section restaurants*/
.restaurants-container {
  background-color: #f6f6f6;
  margin-top: 43px;
  width: 100%;
}
.restaurants-container .title {
  padding-left: 20px;
  padding-bottom: 24px;
  margin-top: 54px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 18px;
  padding: 0 18px 66px 18px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 251px;
  position: relative;
}
.restaurants a {
  width: 100%;
}
.restaurants .new-item {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  padding: 7px 9px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  border-radius: 2px;
}

.card-contain {
  width: 100%;
  padding: 14px 25px 12px 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

/*TABLETTE RESPONSIVE*/
@media screen and (min-width: 768px) {
  .fonctionnement {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .fonctionnement a {
    width: 30%;
  }
  .restaurants {
    flex-direction: row;
  }
  .restaurants a {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .main-section {
    padding-bottom: 30px;
  }
  .main-section .title-one {
    padding-top: 50px;
  }
  .fonctionnement-and-restaurants {
    align-items: center;
  }
  .fonctionnement-container {
    padding: 0 180px;
  }
  .fonctionnement-container .title-one {
    padding-left: 0;
  }
  .fonctionnement {
    padding: 0;
  }
  .restaurants-container .title {
    margin-top: 30px;
    padding-left: 180px;
  }
  .restaurants {
    padding: 0 180px;
    gap: 0;
  }
  .restaurants a {
    width: 45%;
    margin-bottom: 50px;
  }
}
/*Menus*/
.restaurant__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  width: 100%;
  border-radius: 40px 40px 0 0;
  position: relative;
  padding: 32px 13px 40px 13px;
  margin-top: -50px;
}
.restaurant__container--title {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding-bottom: 40px;
}
.restaurant__container--title .fa-heart {
  position: absolute;
  cursor: pointer;
  right: 10%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
  width: 100%;
}

.menu__card {
  cursor: pointer;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
}
.menu__card--description {
  height: 69px;
  width: 100%;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.menu__card--title {
  width: 85%;
}
.menu__card--title .overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card--price {
  align-self: flex-end;
  flex-wrap: nowrap;
}

/*TABLETTE RESPONSIVE*/
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .restaurant__container {
    justify-content: center;
    width: 70%;
  }
  .restaurant__container--title {
    align-self: center;
  }
  .restaurant__container--title .fa-heart {
    right: 15%;
  }
  .menu-container {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__container .fa-heart {
    right: 30%;
  }
}
/*Footer*/
.link-container {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 22px 25px;
}
.link-container img {
  width: 137px;
  height: 27px;
  margin-bottom: 16px;
  filter: invert(1);
}
.link-container .link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/*TABLETTE RESPONSIVE*/
@media screen and (min-width: 768px) {
  .link-container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .link-container img {
    margin-bottom: 0;
  }
  .link-container .link {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    padding-right: 30px;
  }
}
/*DESKTOP RESPONSIVE*/
@media screen and (min-width: 1024px) {
  .link-container .link {
    padding-right: 50px;
    gap: 30px;
  }
}/*# sourceMappingURL=styles.css.map */